<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <style>
        body {
            width: 585px;
            margin: 15px;
            /* border:1px solid grey; */
        }

        .row-lim {
            width: 580px;
        }

        .company-logo {
            text-align: center;
        }

        .line_up {
            border-top: 1px solid grey;
            padding-top: 5px;
            margin-left: 16px;
            margin-right: 16px;
            z-index:11
            /* text-align: center; */
        }

        .footer-sub {
            text-align: center;
        }

        .footer-date {
            top: 47px;
            margin-top: auto;
            padding-bottom: 22px;
        }

        .logo-img {
            /* width: 50%; */
            max-height: 115px;
            max-width: 250px;
            /* height:90px; */
            /* height: 80px; */
        }

        .address-part {
            font-style: italic;
            font-weight: 600;
        }

        .padd-top {
            padding-top: 0.5rem !important;
        }

        .item-head {
            background: #065f90;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            color: white;
            font-weight: bold;
            max-width: 97%;
        }

        .inv-title {
            color: #065f90;
            margin-bottom: 0.5rem !important;
            margin-top: 0.5rem !important;
        }

        .item-section {
            border: 1px solid #8080804d;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        /* .row{display: flex; flex-wrap: wrap;}*/
    </style>

   
</head>

<body>
    <div class="container">
        <div class="head row row-lim">

            <div class="company-logo col-6 p-3 my-auto">
                <img class="logo-img" src=<%= data.logoUrl %>
                    alt="logo">

            </div>

            <div class="address-part col-6 p-3">
                <span class="float-right mr-2">
                    <!-- 202-203, Baleshwar Avenue, Opposite Rajpath Club, SG Highway, Ahmedabad, Gujarat 380054 -->
                    <%= data.address %>
                    <br />
                    <!-- Ph: +91 8835678431 -->
                    <%= data.contact%>
                </span> </div>

        </div>


        <div class="row row-lim my-2">
            <div class="col">
                <div class="mb-1 font-weight-bold">
                    Contract For <%= data.title %>
                </div>
                <div>
                    <%= data.content %>    
                </div>
                <!-- <div> supplier_email </div>-->
                <!-- <div>
                    +919878457845
                </div> -->
            </div>

        </div>

        <div class="row row-lim mt-3">
            <div class="col-6 footer-sub">
                <!-- <div class="inv-title">Invoice Note</div> -->
                <div> <img class="logo-img" src=<%= data.signUrl %>
                        alt="sign">
                </div>
                <div class="line_up"> Sign </div>
                <div><%= data.supplierName %></div>

            </div>
            <div class="col-6 mt-auto footer-sub footer-date">
                <!-- <div class="inv-title">Invoice Terms</div> -->
                <div><%= data.date %></div>
                <div class="line_up"> Date </div>

            </div>
        </div>
    </div>

</body>

</html>